.inner-header{
    /* height: 300px; */
    /* text-align: center; */
    color: white;
    padding: 150px 50px;
    padding-bottom: 50px;
    font-size: 25px;
        background-color: rgb(250, 90, 100);
}